@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.splitter > *:not(:last-child), .splitter2 > *:not(:last-child), .splitter3 > *:not(:last-child) {
    border-right: 4px solid #f43f3f;
}

@media (max-width: 1023px) {
    .splitter > *:not(:last-child) {
        border-right: none;
        border-bottom: 2px solid #f43f3f;
    }

    .splitter2 > *:not(:last-child) {
        border-right-width: 2px;
    }

    .splitter3 > * {
        border:0px solid !important
    }
  }
